<script>
    $(function(){
        (function () {
            var now = new Date();
            var endDate = now.add(Date.DAY, 14);
            console.log(endDate);
            //限制排班的日期控件不能选择之前的时间
            $('.datepickerStart').datepicker({
                isInput: true,
                onRender: function (date) {
                    return date.valueOf() < now.valueOf() ? 'disabled' : '';
                }
            }).on('changeDate', function (d) {
//            showPlan(d.date.format('yyyy-MM-dd'));
            });
            //限制重复的日期控件不能选择后两周的时间
//        $('.datepickerEnd').datepicker({
//            isInput: true, onRender: function (date) {
//                return date.valueOf() < now.valueOf() || date.valueOf() > endDate.valueOf() ? 'disabled' : '';
//            }
//        });
        })();

        //初始化金额的输入事件
        $('.floatnumber').keyup(function () {
            var format = $(this).attr('format');
            $(this).keyup(function (e) {
                $(this).val(this.value.replace(/[^\d.]/g, ''));
            }).bind("afterpaste", function () {
                $(this).val(this.value.replace(/[^\d.]/g, ''));
            }).blur(function () {
                $(this).val(!!format ? Fantasy.number(this.value, format) : this.value);
            });
        });

        $("#saveForm").ajaxForm({
            beforeSerialize: function (zhis, options) {
                var _data = {}, ptimes = {};
                options.data = _data;
                $('.shiduan tr').each(function(i){
                    if(i==0) return;
                    if(!$(this).find('input').val()) return;
                    var ptime = $(this).find('td:first').html().replace(/\s+/g,'');
                    var pnum = $(this).find('input').val().replace(/\s+/g,'');
                    ptimes[ptime] = pnum
                });
                console.log(ptimes);
                _data.ptimes = JSON.stringify(ptimes);
            },
            success: function (data) {
                $('#pager').pager().reload();
                $.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
//                console.log(data);
//                console.log(window.plandate);
//                window.plandate.initEvent(data, true);
//                $('#calendar').fullCalendar('removeEvents');
//                $('#calendar').fullCalendar('addEventSource', event);
                $page$.backpage();
            },
            error: function() {
                $.msgbox({
                    msg: "保存失败",
                    type: "error"
                });
            }
        });
    });
</script>
<div class="pad10L pad10R">
    <div class="example-box">
        <form id="saveForm" action="/doctors/plan/save" method="post" cssClass="center-margin">
            <input name="doctor.id" value="{{doctor.id}}" type="hidden"/>
            <div class="tabs">
                <ul>
                    <li>
                        <a title="排班详情" href="#normal-tabs-1">
                            排班详情
                        </a>
                    </li>
                    <li>
                        <a title="修改排班" href="#normal-tabs-2">
                            修改排班
                        </a>
                    </li>
                </ul>
                <a href="javascript:;" class="btn small hover-black float-right back-page" title="" style="margin-top: -30px;margin-right: 30px">
                    <i class="glyph-icon icon-reply"></i>
                </a>
                <div id="normal-tabs-1">
                    {{>plandate}}
                </div>
                <div id="normal-tabs-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        医生姓名：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <span>{{doctor.name}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        排班日期：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="text" name="time" data-date-format="yyyy-mm-dd" class="datepickerStart" placeholder="请选择日期">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        工作诊所：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <select class="chosen-select" name="clinic.id">
                                            {{#clinics}}
                                                <option value="{{clinic.id}}">{{clinic.name}}</option>
                                            {{/clinics}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        挂号费：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="text" name="money" class="floatnumber" format="0.00" placeholder="请输入挂号费">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>时段<hr/></div>
                        <table class="shiduan">
                            <tr>
                                <th>时段</th>
                                <th>号源数</th>
                            </tr>
                            <tr>
                                <td>
                                    08:00-09:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    09:00-10:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    10:00-11:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    11:00-12:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    12:00-13:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    13:00-14:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    14:00-15:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    15:00-16:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    16:00-17:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    17:00-18:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    18:00-19:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    19:00-20:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    20:00-21:00
                                </td>
                                <td>
                                    <input value=""/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="margin: 20px;">
                        <div style="float: left; padding-right: 30px; padding-left: 27px;">
                            <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 menu-save4" onclick="$('#saveForm').submit();return false;" title=" 保存">
                            <span class="glyph-icon icon-separator">
                                 <i class="glyph-icon icon-save"></i>
                            </span>
                             <span class="button-content">
                                 保存
                             </span>
                            </a>
                        </div>
                        <div style="float: left;">
                            <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 switch menu-view back-page " title="返回">
                            <span class="glyph-icon icon-separator">
                                  <i class="glyph-icon icon-reply"></i>
                            </span>
                             <span class="button-content">
                                 返回
                             </span>
                            </a>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>