{{#extend "_base"}}
    {{#content "head"}}
        <style>
            #layout_right > div {
                border: 1px solid #88a0ba;
                height: calc(100% - 11px);
                padding-left: 3px;
                padding-right: 3px;
                overflow: auto;
            }
        </style>
        <script type="text/javascript">
            $(function () {
                //修改数据
                var typeFilter = function (data) {
                    if (!data.children) {
                        delete data.children;
                    }
                    if (data.code == 'root' || data.layer == 1) {
                        data.isParent = true;
                    }
                    if (!data.parentId) {
                        data.open = true;
                    }
                    return data;
                };
                window.types = {{{string types}}};
                types.each(function () {
                    typeFilter(this);
                });
                Fantasy.apply(Fantasy.util.Format, {}, {
                    typeName: function (key) {
                        var node = ddTypeTree.getNodeByParam('code', key);
                        return !node ? key : node.name;
                    }
                });
                window.ddtDetails = $('#ddtDetails').form();
                window.ddtDetails.on('change', function (data, templateName, element) {
                    if (templateName == 'edit') {
                        if (!data['code']) {
                            $('.ddt-save .button-content label', element.target).html('保存分类');
                        } else {
                            $('[name="code"]', element.target).prop('readonly', 'readonly');
                        }
                        var $saveForm = $(".saveForm", element.target).ajaxForm(function (data) {
                            data = typeFilter(data);
                            var node = ddTypeTree.getNodeByParam("code", data.code);
                            if (!!node) {
                                ddTypeTree.updateNode(Fantasy.copy(node, data), false);
                            } else {
                                ddTypeTree.addNodes(ddTypeTree.getSelectedNodes()[0], data);
                                node = ddTypeTree.getNodeByParam("code", data.code);
                            }
                            $('#' + node.tId + '_span').click();
                            $.msgbox({
                                msg: '数据字典分类 <b>' + data.name + '</b> 保存成功',
                                type: 'success'
                            });
                        });
                        $('.ddt-save', element.target).click(function (e) {
                            $saveForm.submit();
                            stopDefault(e);
                        });
                    }
                });
                window.ddTypeTree = $('#ddTypeTree').zTree({
                    data: {
                        key: {
                            name: "name"
                        },
                        simpleData: {
                            enable: true,
                            idKey: "code",
                            pIdKey: "parentCode"
                        }
                    }, edit: {
                        drag: {
                            isMove: true
                        },
                        enable: true,
                        showAddBtn: false,
                        showRemoveBtn: false,
                        showRenameBtn: false
                    }, callback: {
                        onClick: function (e, treeId, treeNode) {
                            $('#ddlist').show().siblings().hide();
                            $('[name="EQS_type"]', $('#searchForm')).val(treeNode.code);
                            $('#searchForm').submit();
                            return false;
                        },
                        beforeDrop: function (treeId, treeNodes) {
                            if (!treeNodes || treeNodes.length == 0) {
                                return false;
                            }
                            return confirm('是否确定移动[' + treeNodes[0].name + ']菜单');
                        },
                        onDrop: function (event, treeId, treeNodes, targetNode, moveType) {
                            if (!treeNodes || treeNodes.length == 0) {
                                return false;
                            }
                            var index = 0;
                            var parentId = treeNodes[0].parentId;
                            if (!!targetNode) {
                                index = $('#' + targetNode.tId).index() + 1;
                                switch (moveType) {
                                    case 'prev':
                                        index--;
                                        break;
                                    case 'inner':
                                        index = !targetNode.children ? 1 : targetNode.children.length;
                                        parentId = targetNode.id;
                                        break;
                                    case 'next':
                                        index++;
                                        break;
                                }
                            } else if (moveType == 'inner') {
                                index = $('#' + treeNodes[0].tId).index() + 1;
                            }
                            if (index > 0) {
                                $.post('/system/ddt/'+treeNodes[0].id+'/save', {
                                    id: treeNodes[0].id,
                                    sort: index,
                                    'parent.id': parentId
                                }, function () {
                                    $.msgbox({
                                        msg: "顺序调整成功",
                                        type: "success"
                                    });
                                });
                            }
                            return stopDefault(event);
                        }
                    }
                }, types);
                //添加数据字典分类
                $('.ddType-add').bind('click', function (e) {
                    var selectdNodes = ddTypeTree.getSelectedNodes();
                    if (selectdNodes.length == 1) {
                        var treeNode = selectdNodes[0];
                        $('#ddtDetails').show().nextAll().hide();
                        ddtDetails.update({"parentCode": treeNode.code}, 'edit');
                    } else {
                        $.msgbox({
                            msg: "请先选择要添加菜单的上级菜单",
                            icon: "warning"
                        });
                    }
                    return stopDefault(e);
                });
                //修改数据字典分类
                $('.ddType-update').bind('click', function (e) {
                    e.preventDefault();
                    var selectdNodes = ddTypeTree.getSelectedNodes();
                    if (selectdNodes.length != 1) {
                        $.msgbox({
                            msg: "请先选择你要修改的菜单",
                            icon: "warning"
                        });
                        return stopDefault(e);
                    }
                    $('#ddtDetails').show().nextAll().hide();
                    ddtDetails.update(selectdNodes[0], 'edit');
                });
                //删除数据字典分类
                $('.ddType-remove').click(function (e) {
                    var selectdNodes = ddTypeTree.getSelectedNodes();
                    if (selectdNodes.length == 0) {
                        $.msgbox({
                            msg: "请先选择要删除的数据字典分类",
                            icon: "warning"
                        });
                        return stopDefault(e);
                    }
                    var url = $(this).attr('href'), treeNode = selectdNodes[0];
                    jQuery.dialog.confirm('<h4 class="infobox-title">确认删除分类</h4><p>分类名称:<b>' + treeNode.name + '</b><br/>分类删除后,对应的数据字典也会一并删除</p>', function () {
                        $.post(url + '?codes=' + treeNode.code, function () {
                            var onode = treeNode.getParentNode();
                            $.msgbox({
                                msg: '数据字典分类 <b>' + treeNode.name + '</b> 删除成功',
                                icon: 'success'
                            });
                            onode = onode ? onode : treeNode.getNextNode();
                            onode = onode ? onode : treeNode.getPreNode();
                            if (onode) {
                                $('#' + onode.tId + '_span').click();
                            }
                            ddTypeTree.removeNode(treeNode);
                        });
                    });
                    return stopDefault(e);
                });
                /*
                var $advsearch = $('.propertyFilter').advsearch({
                    filters : [{
                        name : 'S_code',
                        text : '编码',
                        type : 'input',
                        matchType :['EQ','LIKE','LT','GT']
                    },{
                        name : 'S_name',
                        text : '名称',
                        type : 'input',
                        matchType :['EQ','LIKE','GT']
                    }]
                });*/
                //列表初始化
                var $grid = $('#view').dataGrid($('#searchFormPanel'), $('#batchDiv'));
                $grid.data('grid').view().on('add', function (data) {
                    var _$actions = $('.list-options', this.target);
                    $('.delete', _$actions).click(function () {
                        deleteMethod([data.key]);
                        return false;
                    });
                    $('.edit', _$actions).click(function (e) {
                        ddDetails.update(data);
                        $('#ddDetails').show().prevAll().hide();
                        return stopDefault(e);
                    });
                }).on('move', function (type, t, o, invoke) {
                    invoke();
                    return false;
                });
                var deleteMethod = $('.batchDelete').batchExecute($("#allChecked"), $grid.data('grid').pager(), 'id', '是否确认删除[{name}]数据字典？', function () {
                    $.msgbox({
                        msg: "删除成功!",
                        icon: "success"
                    });
                });
                window.ddDetails = $('#ddDetails').form();
                window.ddDetails.on('change', function (data, templateName, element) {
                    if (!data['code']) {
                        $('.dd-save .button-content label', element.target).html('保存数据字典');
                    } else {
                        $('[name="code"]', element.target).prop('readonly', 'readonly');
                    }
                    var $saveForm = $(".saveForm", element.target).ajaxForm(function (data) {
                        $grid.data('grid').pager().reload();
                        $('#ddlist').show().siblings().hide();
                        $.msgbox({
                            msg: '数据字典 <b>' + data.name + '</b> 保存成功',
                            icon: 'success'
                        });
                    });
                    $('.to-list', element.target).click(function (e) {
                        $('#ddlist').show().siblings().hide();
                        return stopDefault(e);
                    });
                    $('.opt-doc', element.target).click(function (e) {
                        e.preventDefault();
                        $('#ddtDetails').show().nextAll().hide();
                        ddtDetails.setTemplate('default');
                    });
                    $('.dd-save', element.target).click(function (e) {
                        e.preventDefault();
                        $saveForm.submit();
                    });
                });
                $('.dd-add').click(function (e) {
                    e.preventDefault();
                    $('#ddDetails').show().prevAll().hide();
                    ddDetails.update({'type': $('[name="EQS_type"]', $('#searchForm')).val()});
                });
                $('#ddtDetails').show().siblings().hide();
                if (!!types.length) {
                    ddTypeTree.selectNode(ddTypeTree.getNodeByParam('code', types[0].code), true);
                    setTimeout(function () {
                        $('#' + ddTypeTree.getSelectedNodes()[0].tId + '_a').click();
                    }, 100);
                }
            });
        </script>
    {{/content}}
    {{#content "container"}}
        <div id="layout_left">
            <a class="ui_button category-add" data-href="/cms/categorys/add?code={code}" target="after:closest('#container')">添加</a>
            <a class="ui_button category-edit" data-href="/cms/categorys/{code}/edit" target="after:closest('#container')">编辑</a>
            <a class="ui_button category-remove" data-href="/cms/categorys/{code}/delete">删除</a>
            <div class="tree">
                <div class="bg-caption">
                    <span class="bgc-title">所有字典分类</span>
                </div>
                <div class="bg-tree">
                    <ul id="ddTypeTree" class="ztree"></ul>
                </div>
            </div>
        </div>
        <div id="layout_right">
            <div id="ddtDetails">
                <div class="template mrg5A" name="default"></div>
                <div class="template mrg5A" name="edit">
                    <form action="/system/ddt/save" class="saveForm" method="post">
                        <input type="hidden" class="view-field" name="parent.code" mapping="parentCode"/>
                        <table class="formTable mb3 paymentForm">
                            <caption>字典添加<a href="javascript:;" class="to-list back-page">返回</a></caption>
                            <tbody>
                            <tr>
                                <td class="formItem_title w100">编码</td>
                                <td class="formItem_content "><input type="text" class="view-field" name="code"/></td>
                            </tr>
                            <tr>
                                <td class="formItem_title w100">名称</td>
                                <td class="formItem_content "><input type="text" class="view-field" name="name"/></td>
                            </tr>
                            <tr>
                                <td class="formItem_title w100">描述</td>
                                <td class="formItem_content "><textarea name="description" class="view-field"></textarea></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-row">
                            <div class="form-input col-md-10 col-md-offset-2">
                                <a title="保存分类" class="btn medium primary-bg radius-all-4 ddt-save" href="javascript:;">
                                <span class="button-content">
                                    <i class="glyph-icon icon-save float-left"></i>
                                    <label>保存分类</label>
                                </span>
                                </a>
                                <a title="查看操作说明" class="btn medium bg-gray radius-all-4 hover-white switch"
                                   template="default" href="javascript:;">
                                <span class="button-content">
                                    <i class="glyph-icon icon-exclamation font-gray-dark float-left"></i>
                                    查看操作说明
                                </span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="ddlist">
                <div id="searchFormPanel">
                    <form method="get" action="/system/dds" id="searchForm">
                        <input name="EQS_type" type="hidden"/>
                        <table class="formTable mb3">
                            <caption>文章查询条件</caption>
                            <tbody>
                            <tr>
                                <td class="formItem_title w100">标题：</td>
                                <td class="formItem_content w200">
                                    <input type="text" name="LIKES_name_OR_code" class="ui_input_text w input_w193">
                                </td>
                                <td class="formItem_title w100"></td>
                                <td class="formItem_content">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <a title="添加" class="ui_button dd-add" href="javascript:;">添加</a>
                </div>
                <div id="batchDiv">
                    <a class="ui_button batchDelete" href="/system/dd/delete">批量删除</a>
                </div>
                <div class="grid-panel">
                    <table id="view">
                        <caption>查询结果列表</caption>
                        <thead>
                        <tr>
                            <th class="pad15L" style="width:20px;">
                                <input id="allChecked" class="custom-checkbox bg-white" checkAll=".ddKey" type="checkbox"/>
                            </th>
                            <th class="sort" orderBy="code">编码</th>
                            <th class="sort" orderBy="name">名称</th>
                            <th class="sort" orderBy="type"> 类型</th>
                            <th class="center actions"> 操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="center" class="template" name="default">
                            <td><input class="ddKey custom-checkbox" type="checkbox" value="{key}"/></td>
                            <td>
                                <a class="list-title" class="view" href="javascript:void(0)">{code}</a>
                                <div class="list-options" toggle="closest('tr')">
                                    <a class="edit" href="/cms/articles/{key}/edit">编辑</a>/
                                    <a class="delete" href="/cms/articles/{key}/delete">删除</a>
                                    {{!--
                                    <a href="javascript:;" class="up">上移</a>
                                    <a href="javascript:;" class="down">下移</a>
                                    <a href="javascript:;" class="edit">编辑</a>
                                    <a href="${request.contextPath}/system/dd/delete.do?keys={type}:{code}" class="font-red delete">删除</a>
                                    --}}
                                </div>
                            </td>
                            <td class="font-bold">{name}</td>
                            <td>{type:configTypeName()}</td>
                            <td class="pad0T pad0B center">
                                <div class="dropdown actions">
                                    <a href="javascript:;" title="" class="btn medium bg-blue" data-toggle="dropdown">
                                <span class="button-content">
                                    <i class="glyph-icon font-size-11 icon-cog"></i>
                                    <i class="glyph-icon font-size-11 icon-chevron-down"></i>
                                </span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="ddDetails">
                <div class="template mrg5A" name="default">
                    <form namespace="/system/dd" action="save" cssClass="form-bordered saveForm" method="post">
                        {{!-
                        <input type="hidden" class="view-field" name="parent.code" mapping="parentCode"/>
                        -}}
                        <table class="formTable mb3 paymentForm">
                            <caption>添加数据字典<a href="javascript:;" class="to-list back-page">返回</a></caption>
                            <tbody>
                            <tr>
                                <td class="formItem_title w100">分类</td>
                                <td class="formItem_content">
                                    <input type="hidden" class="view-field" name="type"/>
                                    <input type="text" name="typeName" disabled="disabled" value="{type:typeName()}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="formItem_title w100">编码</td>
                                <td class="formItem_content "><input type="text" class="view-field" name="code" mapping="" formatter=""/></td>
                            </tr>
                            <tr>
                                <td class="formItem_title w100">名称</td>
                                <td class="formItem_content "><input type="text" class="view-field" name="name"/></td>
                            </tr>
                            <tr>
                                <td class="formItem_title w100"> 描述</td>
                                <td class="formItem_content "> <textarea name="description" class="view-field"></textarea></td>
                            </tr>
                            </tbody>
                        </table>
                        <!--
                        <div class="form-row">
                            <div class="form-input col-md-10 col-md-offset-2">
                                <a title="返回" class="btn medium primary-bg radius-all-4 to-list" href="javascript:;">
                                    <span class="button-content">
                                        <i class="glyph-icon icon-reply float-left"></i>
                                        返回
                                    </span>
                                </a>
                                <a title="保存" class="btn medium primary-bg radius-all-4 dd-save" href="javascript:;">
                                    <span class="button-content">
                                        <i class="glyph-icon icon-save float-left"></i>
                                        <label> 保存</label>
                                    </span>
                                </a>
                                <a title="查看操作说明" class="btn medium bg-gray radius-all-4 hover-white opt-doc"
                                   href="javascript:;">
                                    <span class="button-content">
                                        <i class="glyph-icon icon-exclamation font-gray-dark float-left"></i>
                                        查看操作说明
                                    </span>
                                </a>
                            </div>
                        </div>
                        -->
                    </form>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}