<style type="text/css">
    .paymentForm input {
        width: 200px;
    }
    .paymentForm select {
        width: 215px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("[name=paymentConfigType]").change(function(){
            if($(this).val() == 'online'){
                $('.online').show().find('input,select').removeAttr('disabled').change();
            }else{
                $('.online').hide().find('input,select').attr('disabled','disabled');
            }
        }).change();
        $('[name=paymentConfigType]').change(function(){
            $('.paymentFee').html($(this).val()=='scale'?'支付费用比例:':'固定支付费用:');
        }).change();
        $('[name=paymentProductId]').select3({value:'id',text:'name'},function(data){
            $('.bargainorIdName').html(data.bargainorIdName+':');
            $('.bargainorKeyName').html(data.bargainorKeyName+':');
            console.log(!!data.shroffAccountName);
            if(!!data.shroffAccountName){
                $('.shroffAccountName').html(data.shroffAccountName).css('visibility','visible');
                $('.shroffAccount').css('visibility','visible').find('input').val('');
            }else{
                $('.shroffAccount,.shroffAccountName').css('visibility','hidden').find('input').val('');
            }
        }).load({{{payproducts}}});
        $("#saveForm").ajaxForm(function () {
            $('#pager').pager().reload();
            $.msgbox({
                msg: "保存成功",
                type: "success"
            });
            $page$.backpage();
        });
    });
</script>
<form id="saveForm" action="/system/payconfigs/save" method="post">
<table class="formTable mb3 paymentForm">
    <caption>支付方式<a href="#" class="back-page" style="float:right;padding-right:50px;">返回</a></caption>
    <tbody>
    <tr>
        <td class="formItem_title w100">名称:</td>
        <td class="formItem_content"><input type="text" name="name"></td>
        <td class="formItem_title w100">支付配置类型:</td>
        <td class="formItem_content">
            <select name="paymentConfigType" class="chosen-select" style="width: 135px;">
                <option value="offline">线下支付</option>
                <option value="online">在线支付</option>
            </select>
        </td>
    </tr>
    <tr class="online">
        <td class="formItem_title ">支付产品:</td>
        <td class="formItem_content">
            <select name="paymentProductId" class="chosen-select"></select>
        </td>
        <td class="formItem_title"><div class="shroffAccountName">支付宝账号:</div></td>
        <td class="formItem_content"><div class="shroffAccount"><input type="text" name="sellerEmail"></div></td>
    </tr>
    <tr class="online">
        <td class="formItem_title bargainorIdName"></td>
        <td class="formItem_content">
            <input type="text" name="bargainorId">
        </td>
        <td class="formItem_title bargainorKeyName"></td>
        <td class="formItem_content">
            <input type="text" name="bargainorKey"/>
        </td>
    </tr>
    <tr>
        <td class="formItem_title ">支付手续费类型:</td>
        <td class="formItem_content">
            <select class="chosen-select" name="paymentFeeType">
                <option value="fixed">固定费用</option>
                <option value="scale">按比例收费</option>
            </select>
        </td>
        <td class="formItem_title paymentFee"></td>
        <td class="formItem_content">
            <input type="text" name="paymentFee" value="0.00"/>
        </td>
    </tr>
    <tr>
        <td class="formItem_title ">介绍:</td>
        <td class="formItem_content" colspan="3">
            <textarea name="description" style="width:98%; height: 118px;"></textarea>
        </td>
    </tr>
    </tbody>
</table>
<table class="formTable mb3">
    <tbody>
    <tr>
        <td class="formItem_title w100"></td>
        <td class="formItem_content">
            <a class="ui_button" href="javascript:void(0);" onclick="$('#saveForm').submit();return false;">保存</a>
        </td>
    </tr>
    </tbody>
</table>
</form>
