<script type="text/javascript">
    $(function () {
        $("[name=paymentConfigType]").change(function(){
            if($(this).val() == 'online'){
                $('.online').show().find('input,select').removeAttr('disabled').change();
            }else{
                $('.online').hide().find('input,select').attr('disabled','disabled');
            }
        }).change();
        $('[name=paymentConfigType]').change(function(){
            $('.paymentFee').html($(this).val()=='scale'?'支付费用比例:':'固定支付费用:');
        }).change();
        $('[name=paymentProductId]').select3({value:'id',text:'name'},function(data){
            $('.bargainorIdName').html(data.bargainorIdName+':');
            $('.bargainorKeyName').html(data.bargainorKeyName+':');
            console.log(!!data.shroffAccountName);
            if(!!data.shroffAccountName){
                $('.shroffAccountName').html(data.shroffAccountName).css('visibility','visible');
                $('.shroffAccount').css('visibility','visible').find('input').val('');
            }else{
                $('.shroffAccount,.shroffAccountName').css('visibility','hidden').find('input').val('');
            }
        }).load({{{payproducts}}});
        $("#saveForm").ajaxForm(function () {
            $('#pager').pager().reload();
            $.msgbox({
                msg: "保存成功",
                type: "success"
            });
            $page$.backpage();
        });
    });
</script>
<div class="example-box" style="padding-left:10px;padding-right:10px;">
    <div class="example-code">
        <div class="content-box box-toggle button-toggle">
            <h3 class="content-box-header primary-bg">
                <span class="float-left">支付配置添加</span>
                <a href="javascript:void(0)" class="float-right icon-separator btn toggle-button" title="Toggle Box">
                    <i class="glyph-icon icon-toggle icon-chevron-up"></i>
                </a>
            </h3>
            <div class="content-box-wrapper">
            <form id="saveForm" action="/system/payconfigs/save" method="post" class="center-margin">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    名称：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <input type="text" name="name">
                                </div>
                            </div>
                        </div>
                        <div class="form-row online">
                            <div class="form-label col-md-3">
                                <label for="">
                                    支付产品：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <select name="paymentProductId" class="chosen-select"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row online">
                            <div class="form-label col-md-3">
                                <label class="bargainorIdName">
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <input type="text" name="bargainorId">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    支付手续费类型：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <select class="chosen-select" name="paymentFeeType">
                                        <option value="fixed">固定费用</option>
                                        <option value="scale">按比例收费</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    介绍：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <textarea name="description" style="width: 880px; height: 118px;"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div style="float: left;padding-right: 50px;">
                                <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 menu-save4" onclick="$('#saveForm').submit();return false;" title="保存">
                                     <span class="button-content">
                                             <i class="glyph-icon icon-save float-left"></i>
                                         保存
                                      </span>
                                </a>
                            </div>
                            <div style="float: left;">
                                <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 switch menu-view back-page " title="返回">
                                     <span class="button-content">
                                          <i class="glyph-icon icon-reply"></i>
                                         返回
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    支付配置类型：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-right">
                                    <select name="paymentConfigType" class="chosen-select">
                                        <option value="offline">线下支付</option>
                                        <option value="online">在线支付</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row online">
                            <div class="form-label col-md-3">
                                <label class="shroffAccountName"></label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-right shroffAccount">
                                    <input type="text" name="sellerEmail">
                                </div>
                            </div>
                        </div>
                        <div class="form-row online">
                            <div class="form-label col-md-3">
                                <label class="bargainorKeyName"></label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-right">
                                    <input type="text" name="bargainorKey"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label class="paymentFee"></label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-right">
                                    <input type="text" name="paymentFee" value="0.00"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            </div>

        </div>
    </div>
</div>
