{{#extend "_base"}}
    {{#content "head"}}
        <link rel="stylesheet" href="/stylesheets/pop.css"/>
        <style type="text/css">
            #container {
                position: fixed;
            }
            #menuDetails{
                border: 1px solid #88a0ba;
                width: 100%;
                display: block;
                height: calc(100% - 17px);
                margin-top: 5px;
                overflow: auto;
            }
        </style>
        <script type="text/javascript">
            $(function () {
                //修改数据
                var menuFilter = function (data) {
                    data._icon = data.icon;
                    data._url = data.url;
                    delete data.icon;
                    delete data.url;
                    if (!data.children) {
                        delete data.children;
                    }
                    if (data.type == 'menu' || data.layer == 1) {
                        data.isParent = true;
                    }
                    if (!data.parentId) {
                        data.open = true;
                    }
                    return data;
                };
                window.menus = {{{string menus}}};
                menus.each(function () {
                    menuFilter(this);
                });
                var menuTypes = [{key: "url", value: "链接"}, {key: "menu", value: "菜单"}, {
                    key: "javascript",
                    value: "脚本"
                }, {key: "other", value: "其他"}];
                Fantasy.apply(Fantasy.util.Format, {}, {
                    menuType: function (key) {
                        return menuTypes.each(function () {
                            if (this.key == key) {
                                return this.value;
                            }
                        });
                    }
                });
                $('#menuType').select3({value: 'key', text: 'value'}).load(menuTypes);
                window.menuDetails = $('#menuDetails').form();
                window.menuDetails.on('change', function (data, templateName, element) {
                    if (templateName == 'edit') {
                        if (!data['id']) {
                            $('.menu-view', element.target).hide();
                            $('.menu-save .button-content label', element.target).html('保存菜单');
                        }
                        var _$icon = $('[name=icon]', element.target), _$popoverTarget = _$icon.parent().prev(), _oldIconVal = _$icon.val();
                        _$popoverTarget.on('shown.bs.popover', function () {
                            var popover = $(this).data('bs.popover');
                            var _$allIcons = $('.scrollable-content a', popover.tip()).filter(function () {
                                return $(this).find('i.glyph-icon').length;
                            }).click(function (e) {
                                e.preventDefault();
                                _$popoverTarget.find('i.glyph-icon').removeClass(_oldIconVal).addClass($(this).attr('title'));
                                _$icon.val($(this).attr('title'));
                                popover.toggle();
                            });
                            $('#search', popover.tip()).on('change', function () {
                                var _keyword = $(this).val();
                                _$allIcons.show().filter(function () {
                                    return $(this).attr('title').indexOf(_keyword) == -1;
                                }).hide();
                            })
                        });
                        var $saveForm = $(".saveForm", element.target).ajaxForm(function (data) {
                            data = menuFilter(data);
                            var node = menuTree.getNodeByParam("id", data.id);
                            if (!!node) {
                                menuTree.updateNode(Fantasy.copy(node, data), false);
                            } else {
                                menuTree.addNodes(menuTree.getSelectedNodes()[0], data);
                                node = menuTree.getNodeByParam("id", data.id);
                            }
                            $('#' + node.tId + '_span').click();
                            $.msgbox({
                                msg: '菜单 <b>' + data.name + '</b> 保存成功',
                                icon: 'success'
                            });
                        });
                        $('.menu-save', element.target).click(function (e) {
                            $saveForm.submit();
                            stopDefault(e);
                        });
                    }
                });
                window.menuTree = $('#menuTree').zTree({
                    data: {
                        key: {
                            name: "name"
                        },
                        simpleData: {
                            enable: true,
                            idKey: "id",
                            pIdKey: "parentId"
                        }
                    }, edit: {
                        drag: {
                            isMove: true
                        },
                        enable: true,
                        showAddBtn: false,
                        showRemoveBtn: false,
                        showRenameBtn: false
                    }, callback: {
                        onClick: function (e, treeId, treeNode) {
                            menuDetails.update(treeNode, 'view');
                            return false;
                        },
                        beforeDrop: function (treeId, treeNodes) {
                            if (!treeNodes || treeNodes.length == 0) {
                                return false;
                            }
                            return confirm('是否确定移动[' + treeNodes[0].name + ']菜单');
                        },
                        onDrop: function (event, treeId, treeNodes, targetNode, moveType) {
                            if (!treeNodes || treeNodes.length == 0) {
                                return false;
                            }
                            var index = 0;
                            var parentId = treeNodes[0].parentId;
                            if (!!targetNode) {
                                index = $('#' + targetNode.tId).index() + 1;
                                switch (moveType) {
                                    case 'prev':
                                        index--;
                                        break;
                                    case 'inner':
                                        index = !targetNode.children ? 1 : targetNode.children.length;
                                        parentId = targetNode.id;
                                        break;
                                    case 'next':
                                        index++;
                                        break;
                                }
                            } else if (moveType == 'inner') {
                                index = $('#' + treeNodes[0].tId).index() + 1;
                            }
                            if (index > 0) {
                                $.post('/security/menus/save', {
                                    id: treeNodes[0].id,
                                    sort: index,
                                    'parentId': parentId
                                }, function () {
                                    $.msgbox({
                                        msg: "顺序调整成功",
                                        icon: "success"
                                    });
                                });
                            }
                            return stopDefault(event);
                        }
                    }
                });
                //添加菜单
                $('.menu-add').bind('click', function (e) {
                    e.preventDefault();
                    var selectdNodes = menuTree.getSelectedNodes();
                    if (selectdNodes.length == 1) {
                        var treeNode = selectdNodes[0];
                        menuDetails.update({
                            'parentId': treeNode.id,
                            '_icon': 'icon-chevron-right',
                            'type': 'menu'
                        }, 'edit');
                    } else {
                        $.msgbox({
                            msg: "请先选择要添加菜单的上级菜单",
                            icon: "warning"
                        });
                    }
                });
                $('.menu-add-root').click(function (e) {
                    e.preventDefault();
                    menuTree.cancelSelectedNode();
                    menuDetails.update({'_icon': 'icon-chevron-right', 'type': 'menu'}, 'edit');
                });
                //修改菜单
                $('.menu-update').bind('click', function (e) {
                    e.preventDefault();
                    var selectdNodes = menuTree.getSelectedNodes();
                    if (selectdNodes.length != 1) {
                        $.msgbox({
                            msg: "请先选择你要修改的菜单",
                            icon: "warning"
                        });
                        return stopDefault(e);
                    }
                    menuDetails.setTemplate('edit');
                });
                //删除菜单
                $('.menu-remove').click(function (e) {
                    var selectdNodes = menuTree.getSelectedNodes();
                    if (selectdNodes.length == 0) {
                        $.msgbox({
                            msg: "请先选择要删除的菜单",
                            icon: "warning"
                        });
                        return stopDefault(e);
                    }
                    var url = $(this).attr('href'), treeNode = selectdNodes[0];
                    jQuery.dialog.confirm('<h4 class="infobox-title">删除确认</h4><p>确认删除菜单:<b>' + treeNode.name + '</b>?</p>', function () {
                        $.post(url + '?id=' + treeNode.id, function () {
                            var onode = treeNode.getParentNode();
                            $.msgbox({
                                msg: '菜单 <b>' + treeNode.name + '</b> 删除成功',
                                icon: 'success'
                            });
                            onode = onode ? onode : treeNode.getNextNode();
                            onode = onode ? onode : treeNode.getPreNode();
                            if (onode) {
                                $('#' + onode.tId + '_span').click();
                            }
                            menuTree.removeNode(treeNode);
                        });
                    });
                    return stopDefault(e);
                });
                menuTree.setJSON(menus);
            });
        </script>
    {{/content}}
    {{#content "container"}}
        <div id="layout_left">
            <a class="ui_button menu-add" href="###">添加</a>
            <a class="ui_button menu-update" href="###">修改</a>
            <a class="ui_button menu-remove" href="/security/menus/delete">删除</a>

            <div class="tree">
                <div class="bg-caption">
                    <span class="bgc-title">所有栏目</span>
                </div>
                <div class="bg-tree">
                    <ul id="menuTree" class="ztree"></ul>
                </div>
            </div>
        </div>
        <div id="layout_right">
            <div id="menuDetails">
                <div style="margin: 3px;" class="template" name="default">
                    <h1>菜单操作文档</h1>
                </div>
                <div style="margin: 3px;" class="template" name="view">
                    <table class="formTable mb3">
                        <caption>基本信息<a href="###" style="float:right;padding-right:50px;" class="switch"
                                        template="edit">编辑</a></caption>
                        <tbody>
                        <tr>
                            <td class="formItem_title w100">名称：</td>
                            <td class="formItem_content"><label name="name" class="view-field"><label></td>
                            <td class="formItem_title w100">菜单类型：</td>
                            <td class="formItem_content">{type:menuType()}</td>
                        </tr>
                        <tr>
                            <td class="formItem_title w100">菜单值：</td>
                            <td class="formItem_content" colspan="3"><label name="value" class="view-field"><label></td>
                        </tr>
                        <tr>
                            <td class="formItem_title ">描述：</td>
                            <td class="formItem_content" colspan="3"><label name="description"
                                                                            class="view-field"><label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin: 3px;" class="template" name="edit">
                        <form action="/security/menus/save" class="saveForm" method="post">
                            <input type="hidden" class="view-field" name="parentId" mapping="parentId"/>
                            <input type="hidden" class="view-field" name="id"/>
                        <table class="formTable mb3">
                            <caption>基本信息<a href="###" class="switch back" template="view" style="float:right;padding-right:50px;">取消</a></caption>
                            <tbody>
                            <tr>
                                <td class="formItem_title w100">名称：</td>
                                <td class="formItem_content">
                                    <input type="text" class="view-field" name="name"/>
                                </td>
                                <td class="formItem_title w100">菜单类型：</td>
                                <td class="formItem_content">
                                    <select id="menuType" name="type" class="view-field chosen-select" style="width:250px;" data-placeholder="请选择菜单类型!"></select>
                                </td>
                            </tr>
                            <tr>
                                <td class="formItem_title w100">菜单值：</td>
                                <td class="formItem_content" colspan="3">
                                    <textarea name="value" class="view-field" style="width:98%;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="formItem_title ">描述：</td>
                                <td class="formItem_content" colspan="3">
                                    <textarea name="description" class="view-field" style="width:98%;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="formItem_title "></td>
                                <td class="formItem_content" colspan="3">
                                    <a class="ui_button switch menu-view" href="javascript:;" template="view">返回</a>
                                    <a class="ui_button menu-save" href="javascript:;">保存修改</a>
                                    <a class="ui_button switch" template="default" href="javascript:;">查看操作说明</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}