<script type="text/javascript">
    $(function () {
        $("#saveForm").ajaxForm({
            success: function (data) {
                $('#pager').pager().reload();
                top.$.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
                $page$.backpage();
            }
        });
    });
</script>
<form id="saveForm" action="/security/roles/save" method="post" class="center-margin">
<table class="formTable mb3 paymentForm">
    <caption>角色添加<a href="#" class="back-page" style="float:right;padding-right:50px;">返回</a></caption>
    <tbody>
        <tr>
            <td class="formItem_title w100">名称</td>
            <td class="formItem_content "><input type="text" name="name" id="name"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">编码</td>
            <td class="formItem_content "><input type="text" name="code"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">是否启用</td>
            <td class="formItem_content ">
                <label><input type="radio" style="width:20px;" name="enabled" value="true" checked="checked"/>启用</label>
                <label><input type="radio" style="width:20px;" name="enabled" value="false"/>禁用</label>
            </td>
        </tr>
        <tr>
            <td class="formItem_title w100">描述</td>
            <td class="formItem_content "><textarea name="description" style="width: 890px; height: 118px;"></textarea></td>
        </tr>
    </tbody>
</table>
</form>