<script type="text/javascript">
    $(function () {
        $("#saveForm").ajaxForm({
            success: function (data) {
                $('#pager').pager().reload();
                top.$.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
                $page$.backpage();
            }
        });
    });
</script>
<form id="saveForm" action="/security/roles/save" method="post" class="center-margin">
    <table class="formTable mb3 paymentForm">
        <caption>角色编辑<a href="#" class="back-page" style="float:right;padding-right:50px;">返回</a></caption>
        <tbody>
        <input type="hidden" value="{{role.code}}" name="code"/>
        <tr>
            <td class="formItem_title w100">名称</td>
            <td class="formItem_content "><input type="text" name="name" id="name" value="{{role.name}}"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">编码</td>
            <td class="formItem_content "><input type="text" name="code" disabled="true" value="{{role.code}}"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">是否启用</td>
            <td class="formItem_content ">
               <input type="radio" style="width:20px;" name="enabled" value="true" style="width:20px;" {{#compare role.enabled true}} checked="checked" {{/compare}}/>启用
               <input type="radio" style="width:20px;" name="enabled" value="false" style=" width:20px;" {{#compare role.enabled false}} checked="checked" {{/compare}}/>禁用
            </td>
        </tr>
        <tr>
            <td class="formItem_title w100">描述</td>
            <td class="formItem_content "><textarea name="description" style="width: 890px; height: 118px;"></textarea>{{role.description}}</td>
        </tr>
        </tbody>
    </table>
    <table id="saveFormButs" class="formTable mb3">
        <tr>
            <td class="formItem_title w100"></td>
            <td class="formItem_content"><a href="javascript:void(0);" onclick="$('#saveForm').submit();return false;" class="ui_button">保存</a></td>
        </tr>
    </table>
</form>