{{#extend "_base"}}
    {{#content "head"}}
    <script type="text/javascript">
            $(function(){
                var $grid = $('#view').dataGrid($('#searchFormPanel'), $('#batch'));
                $grid.data('grid').view().on('add', function (data) {
                    this.target.find('.delete').click(function (e) {
                        deleteMethod([data.id]);
                        return stopDefault(e);
                    });
                });
                $grid.setJSON({{{string pager}}});
                var deleteMethod = $('.batchDelete').batchExecute($("#allChecked"), $grid.data('grid').pager(), 'id', '是否确认删除角色？<br/>{key}？', function () {
                    $.msgbox({
                        msg: "删除成功",
                        icon: "success"
                    });
                });
            });
    </script>
    {{/content}}
    {{#content "container"}}
        <div id="searchFormPanel" class="button-panel pad5A">
            <form id="searchForm" action="/security/roles/search" method="get">
                <table class="formTable mb3">
                    <caption>用户查询条件</caption>
                    <tbody>
                    <tr>
                        <td class="formItem_title w100">名称:</td>
                        <td class="formItem_content"><input type="text" name="LIKES_name" class="w100"/></td>
                        <td class="formItem_title w100"></td>
                        <td class="formItem_content">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <a class="ui_button" href="/security/roles/add" target="after:closest('#container')">添加</a>
            <a class="ui_button" onclick="$('#searchForm').submit()">查询</a>
        </div>
        <div id="batch">
            <a class="ui_button batchDelete" href=/security/roles/delete">批量删除</a>
        </div>
        <div class="grid-panel">
            <table id="view" class="formTable mb3 listTable">
                <caption>查询结果列表</caption>
                <thead>
                <tr>
                    <th><input id="allChecked" checkAll=".id" type="checkbox"/></th>
                    <th class="sort" orderBy="name">名称</th>
                    <th class="sort" orderBy="code">编码</th>
                    <th class="sort">是否启用</th>
                </tr>
                </thead>
                <tbody>
                <tr class="template" name="default">
                    <td><input class="id custom-checkbox" type="checkbox" value="{code}"/></td>
                    <td>
                        <span class="list-title">{name}</span>
                        <div class="list-options" toggle="closest('tr')">
                            <a href="/security/roles/{code}/delete" class="delete" title="删除">删除</a>/
                            <a href="/security/roles/{code}/edit" class="edit" target="after:closest('#container')">编辑</a>
                        </div>
                    </td>
                    <td>{code}</td>
                    <td>{enabled:dict({'true':'启用','false':'禁用'})}</td>
                </tr>
                <tr class="empty"><td class="norecord" colspan="6">暂无数据</td></tr>
                </tbody>
            </table>
        </div>
    {{/content}}
{{/extend}}