<script type="text/javascript">
    $(function () {
       var imageUploader = $('#imageUploader').upload({data:{'dir':'brand_logo'},theme:'image',size:'160x160'});
        $("#saveForm").ajaxForm({
            beforeSerialize : function(zhis, options){
                var _data = {};
                var _images = imageUploader.getData();
                if(_images.length > 0){
                    _data['details.avatar'] = _images[0].fileManagerId + ':' + _images[0].absolutePath;
                }
                options.data = _data;
            },
            success: function (data) {
                top.$.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
                $page$.backpage();
            }
        });
    });
</script>
<div class="example-box" style="padding-left:10px;padding-right:10px;">
    <div class="example-code">
        <div class="content-box box-toggle button-toggle">
            <h3 class="content-box-header primary-bg">
                <span class="float-left">支付配置添加</span>
                <a href="javascript:void(0)" class="float-right icon-separator btn toggle-button" title="Toggle Box">
                    <i class="glyph-icon icon-toggle icon-chevron-up"></i>
                </a>
            </h3>
            <div class="content-box-wrapper">
            <form id="saveForm" action="/security/users/save" method="post" cssClass="center-margin">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                       用户名
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="append-left">
                                        <input type="text" name="username" id="username" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                        密码
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="append-left">
                                        <input type="password" name="password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                        呢称
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="append-left">
                                        <input type="text"name="nickName" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                        邮箱
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="append-left">
                                        <input type="text" name="details.email" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                        角色组
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="append-left  form-checkbox-radio">
                                        {{!<@s.checkboxlist name="roles.code" list="@com.fantasy.security.service.RoleService@list()" listKey="code" listValue="name" cssClass="custom-checkbox" value="SYSTEM"/>-}}
                                       <checkbox></checkbox>
                                   </div>
                               </div>
                           </div>
                           <div class="form-row">
                               <div class="form-label col-md-2">
                                   <label for="">
                                       站点
                                   </label>
                               </div>
                               <div class="form-input col-md-10">
                                   <div class="append-left">
                                       {{!<@s.select cssClass="chosen-select" name="website.id" list="@com.fantasy.system.service.WebsiteService@websiteList()" listKey="id" listValue="name" />-}}
                                        <select class="chosen-select" name="website.id">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="text-align: center;">
                                <div style="float: left;padding-right: 50px;">
                                    <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 menu-save4" onclick="$('#saveForm').submit();return false;" title="保存">
                                         <span class="button-content">
                                                 <i class="glyph-icon icon-save float-left"></i>保存
                                          </span>
                                    </a>
                                </div>
                                <div style="float: left;">
                                    <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 switch menu-view back-page " title="返回">
                                                 <span class="button-content">
                                                      <i class="glyph-icon icon-reply"></i>返回
                                                </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>


                <div class="col-md-6 form-vertical">
                    <div class="form-row">
                        <div class="form-label col-md-2"></div>
                        <div class="form-input col-md-10" id="imageUploader"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-label col-md-2">
                            <label for="">
                                备注
                            </label>
                        </div>
                        <div class="form-input col-md-10">
                            <textarea name="details.description" class="small-textarea" style="height: 90px;"></textarea>
                        </div>
                    </div>
                </div>

            </form>
    </div>
</div>
</div>
</div>
