<script type="text/javascript">
    $(function () {
        {{!--var imageUploader = $('#imageUploader').upload({data: {'dir': 'brand_logo'}, theme: 'image', size: '160x160'});--}}
        $("#saveForm").ajaxForm({
            {{!--beforeSerialize: function (zhis, options) {
                var _data = {};
                var _images = imageUploader.getData();
                if (_images.length > 0) {
                    _data['details.avatar'] = _images[0].fileManagerId + ':' + _images[0].absolutePath;
                }
                options.data = _data;
            },--}}
            success: function (data) {
                top.$.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
                $page$.backpage();
            }
        });
    });
</script>
<form id="saveForm" action="/security/users/save" method="post" class="center-margin">
    <table class="formTable mb3 paymentForm">
        <caption>用户添加<a href="#" class="back-page" style="float:right;padding-right:50px;">返回</a></caption>
        <tbody>
        <tr>
            <td class="formItem_title w100">用户名</td>
            <td class="formItem_content "><input type="text"  name="username" id="username" autocomplete="off" class="w"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">密码</td>
            <td class="formItem_content"><input type="password" name="password" id="password" autocomplete="off" class="w"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">呢称</td>
            <td class="formItem_content"><input type="text" name="nickName" id="nickName" autocomplete="off" class="w"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">邮箱</td>
            <td class="formItem_content"><input type="text" name="details.email" autocomplete="off" class="w"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">角色</td>
            <td class="formItem_content">
                {{#roles}}
                    <label><input type="checkbox" name="roles.code" value="{{code}}" class="custom-checkbox"style="line-height:10px "/>{{name}}</label>
                {{/roles}}
        </tr>
        <tr>
            <td class="formItem_title w100">站点</td>
            <td class="formItem_content"><select class="chosen-select w" name="website.id" >
                {{#websites}}
                    <option value="{{key}}">{{name}}</option>
                {{/websites}}
            </select>
            </td>
        </tr>
        <tr>
            <td class="formItem_title w100">备注</td>
            <td class="formItem_content"><textarea name="details.description" class="small-textarea w" style="height: 90px;"></textarea></td>
        </tr>
        </tbody>
    </table>
    <table id="saveFormButs" class="formTable mb3">
        <tr>
            <td class="formItem_title w100"></td>
            <td class="formItem_content"><a href="javascript:void(0);" onclick="$('#saveForm').submit();return false;" class="ui_button">保存</a></td>
        </tr>
    </table>
</form>
