{{#extend "_base"}}
    {{#content "head"}}
        <script type="text/javascript">
            $(function () {
                var $grid = $('#view').dataGrid($('#searchFormPanel'), $('#batch'));
                $grid.data('grid').view().on('add', function (data) {
                    this.target.find('.delete').click(function (e) {
                        deleteMethod([data.id]);
                        return stopDefault(e);
                    });
                });
                $grid.setJSON({{{string pager}}});
                var deleteMethod = $('.batchDelete').batchExecute($("#allChecked"), $grid.data('grid').pager(), 'id', '是否确认删除用户？<br/>{key}？', function () {
                    $.msgbox({
                        msg: "删除成功",
                        icon: "success"
                    });
                });
            });
        </script>
    {{/content}}
    {{#content "container"}}
        <div id="searchFormPanel" class="button-panel pad5A">
            <form id="searchForm" action="/security/users/search" method="get">
                <table class="formTable mb3">
                    <caption>用户查询条件</caption>
                    <tbody>
                    <tr>
                        <td class="formItem_title w100">名称:</td>
                        <td class="formItem_content"><input type="text" name="LIKES_name" class="w100"/></td>
                        <td class="formItem_title w100"></td>
                        <td class="formItem_content">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <a class="ui_button" href="/security/users/add" target="after:closest('#container')">添加</a>
            <a class="ui_button" onclick="$('#searchForm').submit()">查询</a>
        </div>
        <div id="batch">
            <a class="ui_button batchDelete" href=/security/users/delete">批量删除</a>
        </div>
        <div class="grid-panel">
            <table id="view" class="formTable mb3 listTable">
                <caption>查询结果列表</caption>
                <thead>
                <tr>
                    <th style="width:20px;">
                        <input id="allChecked" checkAll=".id" type="checkbox"/>
                    </th>
                    <th class="sort" orderBy="username">用户名</th>
                    <th class="sort" orderBy="nickName">呢称</th>
                    <th class="sort" orderBy="details.email">邮箱</th>
                    <th class="sort" orderBy="lastLoginTime">最后登录时间</th>
                    <th>角色名</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" class="template" name="default">
                    <td><input class="id custom-checkbox" type="checkbox" value="{id}"/></td>
                    <td>
                        <span class="list-title">{username}</span>
                        <div class="list-options" toggle="closest('tr')">
                            <a href="/security/users/{id}/delete" class="delete" title="删除">删除</a>/
                            <a href="/security/users/{id}/edit" class="edit" target="after:closest('#container')">编辑</a>
                        </div>
                    </td>
                    <td>{nickName}</td>
                    <td>{details.email}</td>
                    <td>{lastLoginTime:format('yyyy-MM-dd HH:mm:ss')}</td>
                    <td title="{roles}">{roles:ellipsis(30,'...')}</td>
                </tr>
                <tr class="empty"><td class="norecord" colspan="6">暂无数据</td></tr>
                </tbody>
            </table>
        </div>
    {{/content}}
{{/extend}}