<!doctype html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/admin-welcome.css" />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
</head>
<body>
<div class="welcome">
    <p class="tit">xxx系统</p>
    <p class="desc">描述</p>
    <p class="version">版本信息</p>
    <p class="copyright">copyright</p>
</div>
</body>
</html>