/*登录样式*/
.login-logo{
	width:980px;
	margin:20px auto;
}

.login-middle-content{
	background:url(../images/login/login-middle-content.png) no-repeat;
	width:980px;
	height:350px;
	margin:auto;
}

.lmc-tologin{
	margin-right:10px;
	margin-top:40px;
	float:right;
	_margin-right:5px;
	padding:16px 30px;
	width:270px;
}
.login-item{
	display:block;
	margin-bottom:15px;
	overflow:hidden;
}

.login{
	position:absolute;
	top:95px;
	left:670px;
	width:489px;
	height:319px;
	background:url(../images/login/bg_index_login.png) no-repeat;
	margin-top:-35px;
}
.login_link{
	float:left;
	width:67px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#666666;
	font-weight:bold;
	background:url(../images/login/btn_index_login.png) no-repeat;
	text-decoration:none ;
}
.login_link:hover{
	text-decoration:none;
	color:white;
	background:url(../images/login/hover_login.png) no-repeat;
}

.login-main{
	background:url(../images/login/login_main_bg.png) repeat-x;
	height:350px;
	width:100%;
	overflow:hidden;
}
.main-content{
	width:980px;
	margin:0 auto;
	position:relative;
}
.print-img{
	background:url(../images/login/print_img.png) no-repeat;
	height:333px;
	width:732px;
	position:absolute;
	left:0;
	top:20px;
}
.login-panel{
	width:330px;
	height:270px;
	position:absolute;
	right:10px;
	top:20px;
}
.panel-left{
	background:url(../images/login/panel_left.png) repeat-y;
	height:270px;
	width:7px;
	float:left;
}
.panel-center{
	background:url(../images/login/panel_center.png) repeat-x;
	width:316px;
	height:270px;
	float:left;
}
.panel-right{
	background:url(../images/login/panel_right.png) repeat-y;
	height:270px;
	width:7px;
	float:left;
	
}
.choose_sys{
	border:1px solid #8CB7D9;
	padding:1px 3px;
	margin-left:3px;
}
.user-login{
	font-size:16px;
	color:#0064be;
	font-weight:bold;
}
.ml130{
	margin-left:130px;
}
h4{
	color:#0a529f;
	margin-top:2px;
}
.errorMessage li{
	overflow:hidden;
	height:30px;
	line-height:30px;
	margin-left:10px;
}
dt{
	font-size:14px;
	width:60px;
	line-height:28px;
	height:28px;
}
dd{
	height:40px;
}
dl,dt,dd{
	float:left;
	overflow:hidden;
	height:32px;
}
.title{
	float:left;
	overflow:hidden;
	width:270px;
}
.login-input{
	border: 1px solid #CCCCCC;
	padding: 3px;
	zoom: 1;
	height: 23px;
	line-height: 23px;
	font-size:14px;
}
.login-input-hover {
	border-color: #FEB54C;
	background-color: #F9F7D6;
}
.login-select-div{
	display:inline-block;
	border:1px solid #999;
	padding:2px;
	background-color:white;
	border-color:#cccccc;
	height:23px;
}
.login-select{
	border:0 none;
	height:23px;
	font-size:14px;
}
.mt35{margin-top:35px;}
.lh25{line-height:25px;}
/*公司信息*/
.login-footer{
	text-align:center;
	background-color:#fafafa;
	border-bottom:1px solid #d8d8d8;
	width:100%;
	margin-top:20px;
	padding-bottom:10px;
}
/*登录样式 end */
HTML{overflow-x:hidden;}

.form-item {
	overflow:hidden;
	width:270px;
	margin-top:10px;
}

.item-titles {
	width: 50px;
	display: inline-block;
	float:left;
	height: 30px;
	line-height:30px;
	text-align: right;
	padding-right: 5px;
}
.status-red {
	color: #FF3300;
}
.status-green {
	color: #008000;
}
.status-gray {
	color: #999;
}
.status-yellow {
	color: #FF9900;
}
.status-purple {
	color: #9900FF;
}
.status-blue {
	color: #0A69C9;
}