/* line 3, ../sass/mycss.scss */
.shiduan {
  width: 400px;
}
/* line 6, ../sass/mycss.scss */
.shiduan tr th {
  font-size: bold;
  text-align: center;
  width: 200px;
}
/* line 11, ../sass/mycss.scss */
.shiduan tr td {
  text-align: center;
  width: 200px;
}
/* line 15, ../sass/mycss.scss */
.shiduan tr input {
  width: 102px;
}
