<form id="saveForm" action="/members/save" method="post" class="center-margin">
    <table class="formTable mb3">
        <tbody>
        <tr>
            <td class="opt-title">
                <span>添加会员信息</span>
                <ul class="Tabtable" tabs="{selectedClass:'Tabcurr',event:'click'}">
                    <li><a href="#" tab="#basic">基本信息</a></li>
                    <li><a href="#" tab="#accountInfo">账号信息</a></li>
                    <li><a href="#" tab="#receipt">收货信息</a></li>
                </ul>
                <a href="###" class="back-page" style="float:right;padding-right:50px;">返回会员列表>></a>

                <div style="clear:both;BORDER-BOTTOM:1PX SOLID #6483A4;"></div>
                <table id="basic" class="formTable mb3">
                    <tbody>
                    <tr>
                        <td class="formItem_title w100">姓名：</td>
                        <td class="formItem_content"><input type="text" name="details.name" class="w"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">性别：</td>
                        <td class="formItem_content">
                            <input type="radio" id="details_sex_male" name="details.sex" value="male">男
                            <input type="radio" id="details_sex_female" name="details.sex" value="female">女
                        </td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">移动电话：</td>
                        <td class="formItem_content"><input type="text" name="details.mobile" class="w"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">固定电话：</td>
                        <td class="formItem_content"><input type="text" name="details.tel" class="w"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">生日：</td>
                        <td class="formItem_content"><input type="text" name="details.birthday" class="datepicker"
                                                            data-format="yyyy-MM-dd"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">积分：</td>
                        <td class="formItem_content"><input type="text" name="details.score" class="w"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">邮箱：</td>
                        <td class="formItem_content"><input type="text" name="details.email" class="w"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">描述：</td>
                        <td class="formItem_content"><textarea name="details.description" class="w"></textarea></td>
                    </tr>
                    </tbody>
                </table>
                <div id="accountInfo">
                    <table class="formTable mb3">
                        <tbody>
                        <tr>
                            <td class="formItem_title w100">用户账号：</td>
                            <td class="formItem_content"><input type="text" name="username" class="w"></td>
                        </tr>
                        <tr>
                            <td class="formItem_title w100">昵称：</td>
                            <td class="formItem_content"><input type="text" name="nickName" class="w"></td>
                        </tr>
                        <tr>
                            <td class="formItem_title w100">登陆密码：</td>
                            <td class="formItem_content"><input type="password" name="password" class="w"></td>
                        </tr>
                        <tr>
                            <td class="formItem_title w100">是否启用：</td>
                            <td class="formItem_content">
                                <input type="radio" id="details_enabled_true" name="enabled" value="true">是
                                <input type="radio" id="details_enabled_false" name="enabled" value="false">否
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div id="receipt">
    <form id="searchForm" action="/members/search" method="get">
        <table id="view" class="formTable mb3 listTable">
            <caption>查询结果列表</caption>
            <thead>
            <tr>
                <th style="width:30px;"><input id="allChecked" checkall=".id" type="checkbox"/></th>
                <th style="width:250px;">收货人姓名</th>
                <th>所属地区</th>
                <th>收货地址</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" class="template" name="default">
                <td><input class="id" type="checkbox" value="{id}"/></td>
                <td><span class="list-title">{name}</span>

                    <div class="list-options" toggle="closest('tr')">
                        <a href="/members/{id}" class="delete" title="删除">删除</a>/
                        <a href="/members/{id}/edit" class="edit" target="after:closest('#container')">编辑</a>
                    </div>
                </td>
                <td>{area}</td>
                <td>{address}</td>
            </tr>
            <tr class="empty">
                <td class="norecord" colspan="4">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
