<script type="text/javascript">
    $(function () {
        $("#saveForm").ajaxForm({
            success:function (data) {
                data.isParent = true;
                categoryTree.addNodes(categoryTree.getNodeByParam("code", data.parentCode), data);
                var node = categoryTree.getNodeByParam("code", data.code);
                $page$.backpage();
                $('#' + node.tId + '_span').click();
                $.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
            }
        });
    });
</script>
    <form id="saveForm" action="/cms/category/save" method="post" cssClass="center-margin">
        <table class="formTable mb3 paymentForm">
            <caption>添加文章分类<a href="#" class="back-page" style="float:right;padding-right:50px;">返回</a></caption>
            <tbody>
            <input name="parentCode" value="{{category.code}}" type="hidden"/>
                <tr>
                    <td class="formItem_title w100">栏目编码: </td>
                    <td class="formItem_content"> <input name="code" type="text"/></td>
                </tr>
                <tr>
                    <td class="formItem_title w100">栏目名称:</td>
                    <td class="formItem_content"><input name="name" type="text"/></td>
                </tr>
                <tr>
                    <td class="formItem_title w100">栏目英文:</td>
                    <td class="formItem_content"><input name="egname" type="text"/></td>
                </tr>
                <tr>
                    <td class="formItem_title w100">栏目描述:</td>
                    <td class="formItem_content"><textarea name="description"></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class="formTable mb3">
            <tbody>
            <tr>
                <td class="formItem_title w100"></td>
                <td class="formItem_content">
                    <a class="ui_button" href="javascript:void(0);" onclick="$('#saveForm').submit();return false;">保存</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

