<script type="text/javascript">
    $(function () {
        $("#saveForm").ajaxForm({
            success:function (data) {
                data.isParent = true;
                var node = categoryTree.getNodeByParam("code", data.code);
                categoryTree.updateNode(Fantasy.copy(node, categoryFilter(data)), false);
                $page$.backpage();
                $('#' + node.tId + '_span').click();
                $.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
            }
        });
    });
</script>
<form id="saveForm" namespace="" action="/cms/category/save" method="post" cssClass="center-margin">
    <table class="formTable mb3">
        <caption>修改文章分类<a href="#" class="back-page">返回</a></caption>
        <tbody>
        <input name="parent.code" value="{{category.parent}}" type="hidden"/>
    <!--<input name="code" value="category.code" type="hidden"/>-->
           <tr>
               <td class="formItem_title w100">栏目编码:</td>
               <td class="formItem_content"><input type="text" name="code" value="{{category.code}}" readonly="true"/>
           </tr>
           <tr>
                <td class="formItem_title w100">栏目名称:</td>
               <td class="formItem_content"><input name="name" type="text" value="{{category.name}}" readonly="true"/>
           </tr>
           <tr>
               <td class="formItem_title w100">栏目英文:</td>
               <td class="formItem_content"><input name="egname"  type="text" value="{{category.egname}}" readonly="true"/></td>
           </tr>
        </tbody>
    </table>
    <table class="formTable mb3">
        <tbody>
        <tr>
            <td class="formItem_title w100"></td>
            <td class="formItem_content">
                <a class="ui_button" href="javascript:void(0);" onclick="$('#saveForm').submit();return false;">保存</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>


