<script type="text/javascript">
    $(function () {
        $("#saveForm").ajaxForm({
            beforeSerialize: function (zhis, options) {
                var _data = {};
                options.data = _data;
            },
            success: function (data) {
                $('#pager').pager().reload();
                $.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
                $page$.backpage();
            },
            error: function() {
                $.msgbox({
                    msg: "保存失败",
                    type: "error"
                });
            }
        });

        $('#saveBut').click(function(){
            var username = $('input[name="user.username"]').val();
            console.log(username);
            if(username){
                $.get('/check/username/'+username,function(data){
                    if(data){
                        alert('用户已存在');
                        return false;
                    }else{
                        $('#saveForm').submit();
                        return false;
                    }
                });
            }else{
                $('#saveForm').submit();
                return false;
            }
        });
//
        var town = $('.town').select3('/areas/search',{value:'id',text:'name'});
        var city = $('.city').select3('/areas/search',{value:'id',text:'name'},function(data){
            if(!data){
                return;
            }
            town.load({'EQS_parent.id':data.id,pageSize:500});
        });
        $('.province').select3('/areas/search',{value:'id',text:'name'},function(data){
            if(!data){
                return;
            }
            city.load({'EQS_parent.id':data.id,pageSize:200});
            $('.town').select3('',{value:'id',text:'name'}).load({});
        }).load({EQI_layer:0,pageSize:100});
    });
</script>
<div class="pad10L pad10R">
    <div class="example-box">
        <form id="saveForm" action="/pharmacys/save" method="post" class="center-margin">
            <div class="tabs">
                <ul>
                    <li>
                        <a title="基本信息" href="#normal-tabs-1">
                            基本信息
                        </a>
                    </li>
                    <li>
                        <a title="帐号信息" href="#normal-tabs-2">
                            帐号信息
                        </a>
                    </li>
                </ul>
                <a href="javascript:;" class="btn small hover-black float-right back-page" title="" style="margin-top: -30px;margin-right: 30px">
                    <i class="glyph-icon icon-reply"></i>
                </a>
                <div id="normal-tabs-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        药房名称：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="text" name="name"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        药房联系人：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="text" name="contact"/>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-row">-->
                                <!--<div class="form-label col-md-3">-->
                                    <!--<label for="">-->
                                        <!--药房地址：-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="form-input col-md-9">-->
                                    <!--<div class="append-left">-->
                                        <!--<input type="text" name="address"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        药房地址：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <select class="chosen-select province">
                                            <option value="">请选择省份</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row townView">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        地区：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <select class="chosen-select town" name="area">
                                            <option value="">请选择地区</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        百度地图坐标：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="text" name="coordinates"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        药房类别：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <select class="chosen-select" name="type" data-placeholder="请选择药房类别">
                                            <option value="self">自建</option>
                                            <option value="join">加盟</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        联系方式：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="text" name="phone"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        市区：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <select class="chosen-select city">
                                            <option value="">请选择市区</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        详细地址：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input name="address"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="normal-tabs-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        用户登录名：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="text" name="user.username"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        登录密码：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="password" name="user.password"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        昵称：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input name="user.nickName"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        重复密码：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row" style="text-align: center;">
                <div>
                    <div style="float: left;padding-right: 50px;padding-left: 27px;">
                        <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 menu-save4" id="saveBut" title="保存">
                            <span class="glyph-icon icon-separator">
                                 <i class="glyph-icon icon-save"></i>
                            </span>
                             <span class="button-content">
                                 保存
                             </span>
                        </a>
                    </div>
                    <div style="float: left;">
                        <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 switch menu-view back-page " title="返回" >
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-reply"></i>
                            </span>
                             <span class="button-content">
                                 返回
                             </span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
