<script type="text/javascript">
    $(function () {
//        var $advsearch = $('.medicinePropertyFilter').advsearch({
//            filters: [{
//                name: 'S_phone',
//                text: '联系电话',
//                type: 'input',
//                matchType: ['EQ', 'LIKE']
//            }]
//        });
        //列表初始化
        var pager = {{{pager}}};
        var $grid = $('#medicineView').dataGrid($('#searchMedicineFormPanel'), $('.batch'));
        $grid.data('grid').view().on('add', function (data) {

        });
        $grid.setJSON(pager);
    });
</script>
<div id="searchMedicineFormPanel" class="button-panel pad5A">
    <form id="searchForm" action="/pharmacys/{{pharmacyId}}/medicines/search" method="post">
        <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 switch menu-view back-page " title="返回">
            <span class="glyph-icon icon-separator">
                  <i class="glyph-icon icon-reply"></i>
            </span>
             <span class="button-content">
                 返回
             </span>
        </a>
        <!--<div class="medicinePropertyFilter"></div>-->
        <div class="form-search">
            <input type="text" name="LIKES_medicine.name" title="" data-placement="bottom"
                   class="input tooltip-button ac_input" placeholder="药品名称查询" autocomplete="off"
                   style="display: inline-block; width: 200px;">
            <i class="glyph-icon icon-search"></i>
        </div>
    </form>
</div>
<div class="grid-panel">
    <table id="medicineView" class="table table-hover mrg5B text-center">
        <thead>
        <tr>
            <th>药品名</th>
            <th>价格</th>
        </tr>
        </thead>
        <tbody>
        <tr class="template" name="default">
            <td class="font-bold">{medicine.name}</td>
            <td>{price}元</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="divider mrg0T"></div>
